@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Oops!</h1>
    <p>Something went wrong. Please try again later.</p>
    <a asp-action="Index" asp-controller="RollDice">Back to Home</a>
</div>